<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Mostrar Dados</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='main.js'></script>
</head>
<body>
    
    <table border="1">
        <tr>
            <th>Jogo</th>
            <th>Placar</th>
            <th>Mínimo da Temporada</th>
            <th>Máximo da Temporada</th>
            <th>Quebra Recorde Mínimo</th>
            <th>Quebra Recorde Máximo</th>
        </tr>
        <tr>
            <td>{{jogo.num_jogos}}</td>
            <td>{{jogo.placar}}</td>
            <td>{{jogo.min_temporada}}</td>
            <td>{{jogo.max_temporada}}</td>
            <td>{{jogo.quebra_recorde_min}}</td>
            <td>{{jogo.quebra_recorde_max}}</td>
        </tr>
    </table>

</body>
</html>